.card-list > li * {
  pointer-events: none;
}

.card-list > li p, .card-list > li p * {
  display: block;
  width: 100%;
}

.card-list > li {
  width: 240px;
  padding: 24px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-radius: 8px;
  border-width: 1px;
  cursor: pointer;
}

.card-list > li > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.card-list img {
  width: 190px;
  height: 190px;
  border-width: 1px;
  border-radius: 8px;
  object-fit: cover;
}

.card-list > p {
  font-weight: 700;
  height: 100px;
}
