<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>나무알</title>
    <link href="{{url_for('static', filename='/css/output.css')}}" rel="stylesheet" />
    <link href="{{url_for('static', filename='/css/markdown.css')}}" rel="stylesheet" />
    <link href="{{url_for('static', filename='/css/button.css')}}" rel="stylesheet" />
    <link href="{{url_for('static', filename='/css/custom.css')}}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/github-markdown-css@5.5.1/github-markdown-light.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  </head>
  <body>
    <main class="max-w-[760px] mx-auto">
      <header class="flex justify-between items-center my-[20px]">
        <h1>
          <a href="/feed">
            <img src="{{url_for('static', filename='/images/logo.png')}}" alt="logo" class="drop-shadow-[1px_1px_1px_rgba(0,0,0,0.25)] w-[240px] h-auto" />
          </a>
        </h1>
        <button class="login-btn flex items-center justify-center write-btn w-[88px] h-[40px] font-semibold text-sm bg-blue-500 rounded-[4px] text-white hidden custom-btn btn-3">
          <span>로그인</span>
        </button>
        <button class="logout-btn flex items-center justify-center write-btn w-[88px] h-[40px] font-semibold text-sm bg-blue-500 rounded-[4px] text-white hidden custom-btn btn-3">
          <span>로그아웃</span>
        </button>
      </header>
      <div class="flex justify-between">
        <h2 class="text-[32px] font-semibold drop-shadow-[1px_1px_1px_rgba(0,0,0,0.25)]">{{ name }}님 장비를 장비를 구경해봐요</h2>
        <div class="flex justify-center items-center gap-[8px]">
          <button class="delete-btn flex items-center justify-center write-btn w-[88px] h-[40px] font-semibold text-sm bg-blue-500 rounded-[4px] text-white hidden custom-btn btn-3">
            <span>피드삭제</span>
          </button>
        </div>
      </div>
      <hr class="mt-[8px] mb-[16px]" />
      <section class="max-w-[520px] mx-auto">
        <article>
          <h3 class="text-[24px] font-bold mb-[8px] drop-shadow-[1px_1px_1px_rgba(0,0,0,0.25)]">{{ name }}</h3>
          <img id="profile" src="{{ image }}" alt="profile" class="w-[520px] h-[520px] rounded-[16px] object-cover" />
        </article>
        <article class="mt-[16px] mb-[20px]">
          <h3 class="flex items-end mb-[8px]">
            <span class="text-[24px] font-bold drop-shadow-[1px_1px_1px_rgba(0,0,0,0.25)]">
              제품명 :
              <span class="text-[24px] font-bold drop-shadow-[1px_1px_1px_rgba(0,0,0,0.25)] text-blue-400">{{product}}</span>
            </span>
          </h3>
        </article>
        <article class="mt-[16px] mb-[20px]">
          <h3 class="flex items-end mb-[8px]">
            <span class="text-[24px] font-bold drop-shadow-[1px_1px_1px_rgba(0,0,0,0.25)]">세부내용</span>
          </h3>
          <div id="markdown_section" class="markdown-body block w-[520px] h-[800px] p-[16px] rounded-[16px] border-[1px] border-[#e0e0e0] overflow-auto bg-white box-shadow-in-out">{{detail}}</div>
        </article>
      </section>
      <script type="module" src="{{ url_for('static', filename='front/modules/feedDetail.js') }}"></script>
    </main>
  </body>
</html>
