<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>나무알</title>
    <link href="{{url_for('static', filename='/css/output.css')}}" rel="stylesheet" />
    <link href="{{url_for('static', filename='/css/markdown.css')}}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/github-markdown-css@5.5.1/github-markdown.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  </head>
  <body>
    <main class="max-w-[760px] mx-auto">
      <header class="flex justify-between items-center my-[20px]">
        <h1>
          <a href="/feed">
            <span class="text-[40px] text-purple-600 font-bold">나무알</span>
            <span>나의 무기를 알리고싶어</span>
          </a>
        </h1>
        <a href="/user/login" class="flex items-center justify-center write-btn w-[88px] h-[40px] font-semibold text-sm bg-blue-500 rounded-[4px] text-white">로그인</a>
      </header>
      <div class="flex justify-between">
        <h2 class="text-[32px] font-semibold">{{ name }}님 장비를 장비를 구경해봐요</h2>

        <!-- 개인 피드일때만 활성화 -->
        <div class="flex justify-center items-center gap-[8px]">
          <a href="/feed/editor" class="flex items-center justify-center write-btn w-[88px] h-[40px] font-semibold text-sm bg-blue-500 rounded-[4px] text-white">피드수정</a>
        </div>
        <!-- 개인 피드일때만 활성화 -->

      </div>
      <hr class="mt-[8px] mb-[16px]" />
      <section class="max-w-[520px] mx-auto">
        <article>
          <h3 class="text-[24px] font-bold mb-[8px]">{{ name }}</h3>
          <img id="profile" src="{{ image }}" alt="profile" class="w-[520px] h-[520px] rounded-[4px] object-cover">
        </article>
        <article class="mt-[16px] mb-[20px]">
          <h3 class="flex items-end mb-[8px]">
            <span class="text-[24px] font-bold">세부내용</span>
          </h3>
          <div id="markdown_section" class="markdown-body block w-[520px] h-[800px] p-[16px] rounded-[4px] border-[1px] border-[#e0e0e0] overflow-auto">{{detail}}</div>
        </article>
      </section>
      <script type="module" src="{{ url_for('static', filename='front/modules/feedDetail.js') }}"></script>
    </main>
  </body>
</html>
