<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>나무알</title>
    <link href="{{url_for('static', filename='/css/output.css')}}" rel="stylesheet" />
    <link href="{{url_for('static', filename='/css/markdown.css')}}" rel="stylesheet" />
    <link href="{{url_for('static', filename='/css/button.css')}}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/github-markdown-css@5.5.1/github-markdown-light.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  </head>
  <body>
    <main class="max-w-[760px] mx-auto">
      <header class="flex justify-between items-center my-[20px]">
        <h1>
          <a href="/feed">
            <img src="{{url_for('static', filename='/images/logo.png')}}" alt="logo" class="drop-shadow-[1px_1px_1px_rgba(0,0,0,0.25)] w-[240px] h-auto" />
          </a>
        </h1>
        <button class="logout-btn w-[88px] h-[40px] font-semibold text-sm bg-blue-500 rounded-[4px] text-white custom-btn btn-3"><span>로그아웃</span></button>
      </header>
      <div class="flex justify-between">
        <h2 class="text-[32px] font-semibold drop-shadow-[1px_1px_1px_rgba(0,0,0,0.25)]">{{ name }}님 장비를 자랑해 봅시다</h2>
        <div class="flex justify-center items-center gap-[8px]"></div>
      </div>
      <hr class="mt-[8px] mb-[16px]" />
      <section class="max-w-[520px] mx-auto">
        <form class="feed-editor-form">
          <article>
            <h3 class="text-[24px] font-bold mb-[8px]">사진등록</h3>
            <input id="photo" name="image" type="file" class="hidden" />
            <label id="preview" for="photo" class="w-[520px] h-[520px] flex border-[1px] cursor-pointer justify-center items-center flex-col gap-[12px] rounded-[16px]">
              <span class="text-[20px] font-bold">사진을 업로드 해주세요</span>
              <button class="p-[8px] bg-blue-500 write-btn font-semibold text-sm text-white rounded-[4px] w-[80px] custom-btn btn-3"><span>업로드</span></button>
            </label>
          </article>
          <article class="mt-[16px] mb-[20px]">
            <h3 class="flex items-end mb-[8px]">
              <span class="text-[24px] font-bold">세부내용</span>
              <span>(마크다운으로 작성해 주세요)</span>
              <a href="https://gist.github.com/ihoneymon/652be052a0727ad59601" target="_blank" class="block underline ml-auto text-[#295add]">마크다운사용법</a>
            </h3>
            <textarea id="markdown-input" name="detail" class="block w-[520px] h-[800px] p-[16px] rounded-[16px] bg-[#e0e0e0] resize-none shadow-inner"></textarea>
            <div class="flex place-content-between mt-[20px]">
              <button id="preview_btn" class="write-btn w-[88px] h-[40px] font-semibold text-sm bg-[#5e5e5e] rounded-[4px] text-white custom-btn btn-3"><span>미리보기</span></button>
              <button class="feed-upload-btn w-[88px] h-[40px] font-semibold text-sm bg-blue-500 rounded-[4px] text-white custom-btn btn-3"><span>공유하기</span></button>
            </div>
            <div id="markdown_preview_modal" class="fixed flex items-center justify-center w-full h-full bg-[#00000050] top-0 left-0 cursor-pointer hidden" title="클릭해서 닫아 주세요">
              <div id="markdown_preview" class="markdown-body w-[600px] h-full max-h-[80%] bg-white overflow-auto p-[20px]"></div>
            </div>
          </article>
        </form>
      </section>
      <script type="module" src="{{ url_for('static', filename='front/modules/feedEditor.js') }}"></script>
    </main>
  </body>
</html>
