<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>나무알</title>
    <link href="{{url_for('static', filename='/css/output.css')}}" rel="stylesheet" />
    <link href="{{url_for('static', filename='/css/card.css')}}" rel="stylesheet" />
    <link href="{{url_for('static', filename='/front/public/styles/multiEllipsis.css')}}" rel="stylesheet" />
  </head>
  <body>
    <main class="max-w-[760px] mx-auto">
      <header class="flex justify-between items-center my-[20px]">
        <h1>
          <a href="/feed">
            <span class="text-[40px] text-purple-600 font-bold">나무알</span>
            <span>나의 무기를 알리고싶어</span>
          </a>
        </h1>
        <a href="/user/login" class="flex items-center justify-center write-btn w-[88px] h-[40px] font-semibold text-sm bg-blue-500 rounded-[4px] text-white">로그인</a>
      </header>
      <div class="flex justify-between">
        <h2 class="text-[32px] font-semibold">{{ name }}님 반가워요 !</h2>

        <!-- !name display : none -->
        <div class="flex justify-center items-center gap-[8px]">
          <a href="/feed/editor" class="flex items-center justify-center write-btn w-[88px] h-[40px] font-semibold text-sm bg-blue-500 rounded-[4px] text-white">글쓰기</a>
          <button class="write-btn w-[88px] h-[40px] font-semibold text-sm bg-blue-500 rounded-[4px] text-white">내피드보기</button>
        </div>
        <!-- !name display : none -->

      </div>
      <hr class="mt-[8px] mb-[16px]" />
      <ul class="card-list flex flex-wrap gap-[20px]"></ul>
    </main>

    <script type="module" src="{{ url_for('static', filename='front/modules/index.js') }}"></script>
  </body>
</html>
