<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>나무알</title>
    <link href="{{url_for('static', filename='css/output.css')}}" rel="stylesheet" />
    <link href="{{url_for('static', filename='css/card.css')}}" rel="stylesheet" />
    <link href="{{url_for('static', filename='front/public/styles/multiEllipsis.css')}}" rel="stylesheet" />
    <link href="{{url_for('static', filename='/css/markdown.css')}}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/github-markdown-css@5.5.1/github-markdown.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  </head>
  <body>
    <main class="max-w-[760px] mx-auto">
      <header class="flex justify-between items-center my-[20px]">
        <h1>
          <span class="text-[40px] text-purple-600 font-bold">나무알</span>
          <span>나의 무기를 알리고싶어</span>
        </h1>
        <a href="/user/login" class="login-btn w-[88px] h-[40px] flex justify-center items-center font-semibold text-sm bg-blue-500 rounded-[4px] text-white text-red-500">로그인</a>
        <button class="logout-btn w-[88px] h-[40px] flex justify-center items-center font-semibold text-sm bg-blue-500 rounded-[4px] text-white text-red-500 hidden">로그아웃</button>
      </header>
      <div class="flex justify-between">
        <h2 class="text-[32px] font-semibold">{{ name }}님 반가워요 !</h2>

        <!-- !name display : none -->
        <div class="flex justify-center items-center gap-[8px]">
          <a href="/feed/editor" class="write-btn w-[88px] h-[40px] flex justify-center items-center font-semibold text-sm bg-blue-500 rounded-[4px] text-white text-red-500 hidden">글쓰기</a>
          <button class="watch-my-feed-btn w-[88px] h-[40px] flex justify-center items-center font-semibold text-sm bg-blue-500 rounded-[4px] text-white text-red-500 hidden">내피드보기</button>
          <button class="watch-all-feed-btn w-[88px] h-[40px] flex justify-center items-center font-semibold text-sm bg-blue-500 rounded-[4px] text-white text-red-500 hidden">모든피드보기</button>
        </div>
        <!-- !name display : none -->
      </div>
      <hr class="mt-[8px] mb-[16px]" />
      <ul class="card-list flex flex-wrap gap-[20px]"></ul>
    </main>

    <script type="module" src="{{ url_for('static', filename='front/modules/index.js') }}"></script>
  </body>
</html>
