<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원가입</title>
    <link href="{{url_for('static', filename='/css/output.css')}}" rel="stylesheet" />
  </head>
  <body>
    <main class="max-w-[760px] mx-auto font-bold flex flex-col justify-center items-center">
      <header class="flex justify-between items-center my-[20px] self-start">
        <h1>
          <a href="/feed">
            <img src="{{url_for('static', filename='/images/logo.png')}}" alt="logo" class="w-[240px] h-auto" />
          </a>
        </h1>
      </header>
      <h2 class="text-[40px] p-[20px]">회원가입</h2>
      <form class="sign-in-form bg-slate-100 w-[360px] px-[32px] py-[16px] flex flex-col gap-[16px] border border-blue-300 rounded-[8px] shadow-lg">
        <label class="flex flex-col text-[12px]" for="id">
          <span class="text-[20px] pl-[4px] pb-[4px]">ID</span>
          <input class="h-[40px] pl-[16px] rounded-[8px] border border-blue-200" id="id" name="id" type="text" placeholder="아이디를 입력해주세요." required />
        </label>
        <label class="flex flex-col text-[12px]" for="nick-name">
          <span class="text-[20px] pl-[4px] pb-[4px]">닉네임</span>
          <input class="h-[40px] pl-[16px] rounded-[8px] border border-blue-200" id="nick-name" name="nick-name" type="text" placeholder="닉네임을 입력해주세요." required />
        </label>
        <label class="flex flex-col text-[12px]" for="password">
          <span class="text-[20px] pl-[4px] pb-[4px]">패스워드</span>
          <input class="h-[40px] pl-[16px] rounded-[8px] border border-blue-200" id="password" name="password" type="password" placeholder="비밀번호를 입력해주세요." required />
        </label>
        <label class="flex flex-col text-[12px]" for="password-check">
          <span class="text-[20px] pl-[4px] pb-[4px]">패스워드 확인</span>
          <input class="h-[40px] pl-[16px] rounded-[8px] border border-blue-200" id="password-check" name="password-check" type="password" placeholder="비밀번호를 한번 더 입력해주세요." required />
        </label>
        <button class="sign-in-btn right-0 w-[100] h-[40px] my-[16px] font-semibold text-sm bg-blue-500 rounded-[4px] text-white" type="submit">회원가입</button>
      </form>
      <div class="flex flex-col mt-[20px]">
        <p class="text-[16px]">계정을 갖고있습니까 ?</p>
        <a href="/user/login" class="sign-up-btn flex items-center justify-center right-0 w-[360px] h-[40px] my-[16px] font-semibold text-sm bg-blue-500 rounded-[4px] text-white">로그인</a>
      </div>
    </main>
    <script src="{{ url_for('static', filename='front/modules/signInPage.js') }}" type="module"></script>
  </body>
</html>
